{% extends 'base.html' %}

{% block content %}

<div class="container" style="display: flex;justify-content: center; align-content: center;" >
  <div class="block">
{% if error %}
<br>
<h3 style="color: red;">{{error}}</h3>
<br>
{% endif %}
      <h1> Редактирование  </h1> <a href='{% url 'detail' product.id %}'>{{ product.title }}</a>

<form  enctype="multipart/form-data" method="POST">
{% csrf_token %}
Название:
<br>
<input type="text" name="title" value="{{ product.title }}"/>
<br>
Описание:
<br>
<input type="textbox" name="body" value="{{ product.body }}">
<br>
URL:
<br>
<input type="text" name="url" value="{{ product.url }}"/>
<br>
Иконка:
<br>
<input type="file" name="icon"/>
<br>
Фото/Скрин:
<br>
<input type="file" name="image"/>
<br>
<br>
        <select   name="category">
        {% for category in categories %}
  <option>{{ category }}</option>
        {% endfor %}
</select>
<br>
<br>
<input type="submit" value="Изменить проект" class="btn btn-primary">


</form>
</div>
</div>
{% endblock %}